.location-list{
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow: hidden;
  overflow-y: scroll;
}

@media (max-width: 64em){
  .location-list{
    padding: .5rem 1rem;
    flex-direction: row !important;
    overflow: auto !important;
    max-height: 30vh !important;
  }
}