.forecastExtended h5{
  text-align: left;
  margin: .5rem auto;
  color: rgb(219, 219, 219);
  width: calc(100% - 35px);
}

.forecastExtended{
  max-height: 80vh;
  overflow-y: auto;
}

.forecastExtended h1{
  text-align: center;
  color: white;
  padding: 1rem;
}