body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.full {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.highlight {
  height: 200px;
  color: white;
}

.link-button {
  padding: 8px 16px;
  background: rgb(0, 153, 255);
  color: white !important;
  transition: 0.5s all ease;
  border-radius: 8px;
  &:hover {
    transition: 0.5s all ease;
    background: rgb(40, 85, 122);
  }
}
